Name: Mary Aldrete
<br>
abc123: mpy848

Homework 2

Problem 1

1. Import the Auto MPG dataset with pandas.read_csv() using the dataset URL, use the
attribute names as explained in the dataset description as the column names (5pt), view the
strings ‘?’ as the missing value, and whitespace (i.e., ‘\s+’) as the column delimiter. Print out
the shape and first 5 rows of the obtained DataFrame. (5pt)

In [1]:
import pandas as pd

In [2]:
auto = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data', 
                   names = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'car_name'],
                   na_values = '?', delim_whitespace = True)

In [3]:
auto.shape

(398, 9)

In [4]:
auto.head(5)

    mpg  cylinders  displacement  ...  model_year  origin                   car_name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino

[5 rows x 9 columns]

2. Delete the “car_name” column using .drop() method as it is irrelevant to the prediction.
Print out a concise summary of the new DataFrame using .info() and check if NULL value
exists in each column (5pt)

In [5]:
auto2 = auto.drop(columns='car_name', axis = 1)

In [6]:
auto2.shape

(398, 8)

In [7]:
auto2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 25.0 KB

In [8]:
auto2.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

3. Replace the NULL value with the mean value of the column using .fillna(). Print out the
concise summary of the new DataFrame and recheck if NULL value exists in each column
(5pt)

In [9]:
auto2['horsepower'].fillna(value=auto2['horsepower'].mean(), inplace = True)

In [10]:
auto2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 25.0 KB

In [11]:
auto2.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

4. For the ‘origin’ column with categorical attribute, replace it with the columns with
numerical attributes using one-hot encoding (you can use either get_dummies() in Pandas
or OneHotEncoder in Scikit-Learn). Print out the first 5 rows of the newly obtained
DataFrame. (10pt)

In [12]:
origin_dummies = pd.get_dummies(auto2.origin, prefix = 'Origin')

In [13]:
auto3 = pd.concat([auto2, origin_dummies], axis = 1)

In [14]:
auto3 = auto3.drop(columns='origin', axis = 1)

In [15]:
auto3.head(5)

    mpg  cylinders  displacement  ...  Origin_1  Origin_2  Origin_3
0  18.0          8         307.0  ...         1         0         0
1  15.0          8         350.0  ...         1         0         0
2  18.0          8         318.0  ...         1         0         0
3  16.0          8         304.0  ...         1         0         0
4  17.0          8         302.0  ...         1         0         0

[5 rows x 10 columns]

5. Learn a linear regression model (fit_intercept=True) to predict the “mpg” column from the
remaining columns in the obtained DataFrame of Step 4.

a.Separate the “mpg” column from other columns and view it as the label vector and
others as the feature matrix (5pt)

In [99]:
from sklearn.linear_model import LinearRegression

In [17]:
X = pd.DataFrame(auto3[['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'Origin_1', 'Origin_2', 'Origin_3']])
y = auto3['mpg']

In [18]:
y.shape

(398,)

In [19]:
X.shape

(398, 9)

b. Split the data into a training set (80%) and testing set (20%) using train_test_split and
print out their shapes (5pt)

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [21]:
X_train.shape, y_train.shape

((318, 9), (318,))

In [22]:
X_test.shape, y_test.shape

((80, 9), (80,))

c. Train the model using the training set and print out the coefficients of the model (5 pt)

In [23]:
lm_model = LinearRegression(fit_intercept=True)

In [24]:
lm_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [25]:
lm_model.coef_

array([-0.29983858,  0.02326461, -0.01685459, -0.00698328,  0.10963199,
        0.82951012, -1.83338998,  0.99553538,  0.8378546 ])

d. Use the learned model to predict on the test set and print out the mean squared error
of the predictions (5pt)

In [26]:
import sklearn.metrics as metrics

In [27]:
y_pred = lm_model.predict(X_test)

In [28]:
mse = metrics.mean_squared_error(y_test, y_pred)
print(mse)

7.616647458934944

Problem 2

1. Import the red wine dataset with pandas.read_csv() using the dataset URL, use the semicolon as the column delimiter, and print out both the first five rows and a concise summary of
the obtained DataFrame. (10 pt)

In [100]:
wine = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv',
                   header = 0,
                   delimiter = ';')

In [101]:
wine.head(5)

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [102]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [103]:
wine.shape

(1599, 12)

2. Suppose we want to predict the quality of wine from other attributes. Divide the data into a
label vector and a feature matrix. Then split them into a training set (80%) and testing set (20%)
using train_test_split. (5pt)

In [127]:
X_wine = pd.DataFrame(wine[['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol']])
y_wine = wine['quality']

X_train_wine, X_test_wine, y_train_wine, y_test_wine = train_test_split(X_wine, y_wine, test_size = 0.2, random_state = 1)

In [105]:
X_wine.shape

(1599, 11)

In [106]:
y_wine.shape

(1599,)

In [107]:
X_train_wine.shape

(1279, 11)

In [108]:
X_test_wine.shape

(320, 11)

In [109]:
y_test_wine.shape

(320,)

3. Use the StandardScalar() in Scikit-Learn to normalize the feature matrices of both training set
and testing set. Note that the testing set can only be scaled by the mean and standard deviation
values obtained from the training set. (5 pt)

In [128]:
from sklearn.preprocessing import StandardScaler

In [129]:
from sklearn import preprocessing

In [130]:
sc = preprocessing.StandardScaler().fit(X_train_wine)

X_train_wine_scale = sc.transform(X_train_wine)
X_test_wine_scale = sc.transform(X_test_wine)

4. Use the RandomForestClassifier (with 300 trees) as the classification model in Scikit-Learn.
Use 5-fold cross-validation to train and cross-validate the model. Print out the accuracies
returned by the five folds as well as their average and standard deviation values. (10 pt)

In [131]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate

rfc = RandomForestClassifier(n_estimators = 300, random_state = 1)

cv = cross_val_score(rfc, X_train_wine_scale, y_train_wine, cv = 5)

print(cv)
print(cv.mean())
print(cv.std())

[0.671875   0.65234375 0.72265625 0.67578125 0.6627451 ]
0.6770802696078431
0.02417992894344132

5. Use GridSearchCV() to find and print out the best hyperparameter for the number of trees
(try the following values: 100, 300, 500, 800, 1000 for ‘n_estimator’), ignoring the search for
other hyperparameters. Also use 5-fold cross-validation during GridSearchCV. (15 pt)

In [132]:
from sklearn.model_selection import GridSearchCV

In [133]:
param_grid = {
    'n_estimators': [100, 300, 500, 800, 1000]
}

rfc = RandomForestClassifier(random_state= 1)

grid_search = GridSearchCV(estimator=rfc, param_grid= param_grid, cv = 5)

In [134]:
grid_search.fit(X_train_wine_scale,y_train_wine)

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False, random_state=1,
                                              verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'n_estimators': [100, 300, 500, 800, 1000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [135]:
grid_search.best_params_

{'n_estimators': 500}

6. Find and print out the testing accuracy of the model obtained using the best hyperparameter
value on the testing dataset (5 pt)

In [136]:
from sklearn.metrics import accuracy_score

In [137]:
rfc2 = RandomForestClassifier(n_estimators = 500, random_state = 1)

rfc2.fit(X_train_wine_scale, y_train_wine)

rfc2_preds = rfc2.predict(X_test_wine_scale)

accuracy_score(y_test_wine, rfc2_preds)

0.715625

In [138]:
y_predict_wine = grid_search.predict(X_test_wine_scale)
accuracy_score(y_test_wine, y_predict_wine)

0.715625